<!DOCTYPE html>
<html>
<head>
  <title>BabelTrain</title>
  <%= stylesheet_link_tag    "babel_train/application", media: "all" %>
  <%= javascript_include_tag "babel_train/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
